canvas {
  border: 1px solid black;
  /* width: 70%;  */
  background: skyblue;
  margin:0;
  padding:0;
}

#userbox-display {
  border: solid black 1px;
  height:356px;
  /* width: 100%; */
  float:right;
}

#address-display {
  /* border: solid blue 1px; */
  height: 40px;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
